<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>755319516059-s71pfrplfmnck8mkm16pd7ejr6jl6u8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.755319516059-s71pfrplfmnck8mkm16pd7ejr6jl6u8g</string>
	<key>API_KEY</key>
	<string>AIzaSyB6MMhhprl1WERXsoNDPMBwCtrSQ1gCvI8</string>
	<key>GCM_SENDER_ID</key>
	<string>755319516059</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sambalpete.timo</string>
	<key>PROJECT_ID</key>
	<string>timo-44d20</string>
	<key>STORAGE_BUCKET</key>
	<string>timo-44d20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755319516059:ios:dc3b0d41d33c88052d0f3e</string>
	<key>DATABASE_URL</key>
	<string>https://timo-44d20.firebaseio.com</string>
</dict>
</plist>