<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822086384930-udald049ufr1l7ds65mi2ak19t57hsab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822086384930-udald049ufr1l7ds65mi2ak19t57hsab</string>
	<key>API_KEY</key>
	<string>AIzaSyBbiTiKRMOLOE_LuwewmQXxPm368dh8tKw</string>
	<key>GCM_SENDER_ID</key>
	<string>822086384930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.princealvinyusuf.Timos</string>
	<key>PROJECT_ID</key>
	<string>timo-5294f</string>
	<key>STORAGE_BUCKET</key>
	<string>timo-5294f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822086384930:ios:d9e6893d62bea887be797b</string>
	<key>DATABASE_URL</key>
	<string>https://timo-5294f.firebaseio.com</string>
</dict>
</plist>